body {
 font-size: 18pt;
}

.itemTemplateWrapper {
 border: 1px solid gray;
 padding: 5pt;
 margin-top: 10px;
 width: auto;
 display: block;
}

.idea {padding:10px;
 margin:50px;
 border:1px solid #000;
}
